<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.zhangsun.unit.basemock.mapper.TerminalEntityMapper" >
  <resultMap id="BaseResultMap" type="site.zhangsun.unit.basemock.pojo.TerminalEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="serial_num" property="serialNum" jdbcType="VARCHAR" />
    <result column="dept_id" property="deptId" jdbcType="VARCHAR" />
    <result column="gis_data_table" property="gisDataTable" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="online_time" property="onlineTime" jdbcType="TIMESTAMP" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="sim_expire_date" property="simExpireDate" jdbcType="TIMESTAMP" />
    <result column="vehicle_id" property="vehicleId" jdbcType="VARCHAR" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="is_disabled" property="isDisabled" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, serial_num, dept_id, gis_data_table, mobile, online_time, supplier, sim_expire_date,
    vehicle_id, updater, creator, update_time, create_time, is_deleted, is_disabled
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="site.zhangsun.unit.basemock.pojo.TerminalEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from terminal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="site.zhangsun.unit.basemock.pojo.TerminalEntityKey" >
    select
    <include refid="Base_Column_List" />
    from terminal
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="site.zhangsun.unit.basemock.pojo.TerminalEntityKey" >
    delete from terminal
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="site.zhangsun.unit.basemock.pojo.TerminalEntityExample" >
    delete from terminal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="site.zhangsun.unit.basemock.pojo.TerminalEntity" >
    insert into terminal (id, serial_num, dept_id,
      gis_data_table, mobile, online_time,
      supplier, sim_expire_date, vehicle_id,
      updater, creator, update_time,
      create_time, is_deleted, is_disabled
      )
    values (#{id,jdbcType=VARCHAR}, #{serialNum,jdbcType=VARCHAR}, #{deptId,jdbcType=VARCHAR},
      #{gisDataTable,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{onlineTime,jdbcType=TIMESTAMP},
      #{supplier,jdbcType=VARCHAR}, #{simExpireDate,jdbcType=TIMESTAMP}, #{vehicleId,jdbcType=VARCHAR},
      #{updater,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=CHAR}, #{isDisabled,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="site.zhangsun.unit.basemock.pojo.TerminalEntity" >
    insert into terminal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serialNum != null" >
        serial_num,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="gisDataTable != null" >
        gis_data_table,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="onlineTime != null" >
        online_time,
      </if>
      <if test="supplier != null" >
        supplier,
      </if>
      <if test="simExpireDate != null" >
        sim_expire_date,
      </if>
      <if test="vehicleId != null" >
        vehicle_id,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="isDisabled != null" >
        is_disabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="gisDataTable != null" >
        #{gisDataTable,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="onlineTime != null" >
        #{onlineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="supplier != null" >
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="simExpireDate != null" >
        #{simExpireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vehicleId != null" >
        #{vehicleId,jdbcType=VARCHAR},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="isDisabled != null" >
        #{isDisabled,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="site.zhangsun.unit.basemock.pojo.TerminalEntityExample" resultType="java.lang.Integer" >
    select count(*) from terminal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update terminal
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.serialNum != null" >
        serial_num = #{record.serialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.deptId != null" >
        dept_id = #{record.deptId,jdbcType=VARCHAR},
      </if>
      <if test="record.gisDataTable != null" >
        gis_data_table = #{record.gisDataTable,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.onlineTime != null" >
        online_time = #{record.onlineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.supplier != null" >
        supplier = #{record.supplier,jdbcType=VARCHAR},
      </if>
      <if test="record.simExpireDate != null" >
        sim_expire_date = #{record.simExpireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.vehicleId != null" >
        vehicle_id = #{record.vehicleId,jdbcType=VARCHAR},
      </if>
      <if test="record.updater != null" >
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=CHAR},
      </if>
      <if test="record.isDisabled != null" >
        is_disabled = #{record.isDisabled,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update terminal
    set id = #{record.id,jdbcType=VARCHAR},
      serial_num = #{record.serialNum,jdbcType=VARCHAR},
      dept_id = #{record.deptId,jdbcType=VARCHAR},
      gis_data_table = #{record.gisDataTable,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      online_time = #{record.onlineTime,jdbcType=TIMESTAMP},
      supplier = #{record.supplier,jdbcType=VARCHAR},
      sim_expire_date = #{record.simExpireDate,jdbcType=TIMESTAMP},
      vehicle_id = #{record.vehicleId,jdbcType=VARCHAR},
      updater = #{record.updater,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=CHAR},
      is_disabled = #{record.isDisabled,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="site.zhangsun.unit.basemock.pojo.TerminalEntity" >
    update terminal
    <set >
      <if test="serialNum != null" >
        serial_num = #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="gisDataTable != null" >
        gis_data_table = #{gisDataTable,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="onlineTime != null" >
        online_time = #{onlineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="supplier != null" >
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="simExpireDate != null" >
        sim_expire_date = #{simExpireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vehicleId != null" >
        vehicle_id = #{vehicleId,jdbcType=VARCHAR},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="isDisabled != null" >
        is_disabled = #{isDisabled,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.zhangsun.unit.basemock.pojo.TerminalEntity" >
    update terminal
    set serial_num = #{serialNum,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=VARCHAR},
      gis_data_table = #{gisDataTable,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      online_time = #{onlineTime,jdbcType=TIMESTAMP},
      supplier = #{supplier,jdbcType=VARCHAR},
      sim_expire_date = #{simExpireDate,jdbcType=TIMESTAMP},
      vehicle_id = #{vehicleId,jdbcType=VARCHAR},
      updater = #{updater,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=CHAR},
      is_disabled = #{isDisabled,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
